<h1 class="title"> All Customers:</h1>

<%= link_to 'Customers Missing Email', missing_email_path, class: 'button' %>
<%= link_to 'Alphabetized Customers', alphabetized_path, class: 'button' %>

<% @customers.each do |customer| %>
  <%= render partial: "customers/customer", locals: {customer: customer} %>
<% end %>